.photo-check{
    position: relative;
    top: 3px;
}

.photo-div{
    margin-bottom: 0px;
    margin-right: 10px;
    text-align: center;
}

.album-label{
    margin-top: 10px;
    float: left;
    margin-left: 6px;
}

.photos-div{
    //display: table;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.13);
}

.album-option-button{
    margin-left: -19px;
    margin-bottom: 10px;
}

.album-options{
    position: absolute;
    right: 0px;
    left: inherit;
    top: 37px;
}

.photo-col {
    float: none;
    display: inline-block;
    margin-top: 7px;
    max-width: 100%;
}

.panel-album{
    padding-bottom: 4px;
}

.buttons-panel button{
    margin-bottom: 10px;
}

.buttons-panel{
    margin-right: 21px;
}

.album-panel{
    padding-bottom: 5px;
    min-height: 65px;
}


.bottom-buttons{
    position: relative;
    top: 17px;
}

