
.panel-write-post{
    margin-right: -30px;
    margin-left: -30px;
}


.page-header{
    margin-top: -13px;
    margin-left: -30px;
    margin-right: -30px;
}

.content{
    padding: 0px;  
}

#dashboard{
    overflow: auto;
}

