.sub-profile-header{
    border: 0px;
    margin: 0px;
}

.more-sub-profile-header{
    padding: 0px;
    margin-bottom: -14px;
}

.color-panel-text{
    color:rgb(107, 105, 105);
}


#attributesForm input{
    text-align: center;
}