.form-horizontal .has-feedback .form-control-feedback {
    right: -17px;
}

.subtitle-div{
    position: relative;
    top: -11px;
    font-size: 13px;
}

#divCharactersForm input{
    padding: 0px;
    text-align: right;
}
