/* 
    Created on : 20/03/2015, 23:06:41
    Author     : YouCurte
*/

.content{
    padding: 0px 25px;
}

.click{
    cursor: pointer;
}

.color-white{
    color:white;
}

.content{
    margin-top: 65px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
}

.icon{
    margin-top: -23px;
}

.know-user{
    position:relative;
    top: 4px;
}

.margin-bot-10{
    margin-bottom: 10px;
}

.margin-bot-0{
    margin-bottom: 0px;
}

.padding-0{
    padding: 0px 0px;
}

.form-login{
    margin: 3px 0px;
    padding: 3px;
}

.form-login-check .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
    top: 2px;
}
.margin-default{
    margin-left: 50px;
    margin-right: 50px;
}

.margin-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-0{
    margin: 0px!important;
}

#msgImage{
    max-width: 100%;
    max-height: 100%;
}

.profile-header {
    padding-top: 13px;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 100%; */
}

.padding-horizontal-default{
    padding-left: 30px;
    padding-right: 30px;
}

.padding-left-0{
    padding-left: 0px;
}

.padding-right-default{
    padding-right: 50px;
}


.div-main{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
}

.div-more{
    text-align: right;
}

.btn-button-know-more{
    width: 122px;
    text-align: center;
    padding-right: 6px;
}

#titleRegister{
    margin-top: 0px;
    margin-bottom: 15px;
}

.post-body{
    resize: none;
}


#registerButton{
    position: relative;
    top: 10px;
}

.yc-well{
    padding-bottom: 0px;
}
.yc-well .row {
    margin: 0px;
}

#followButton{
    float:right;
    margin-top: 10px;
}

.yc-well .panel {
    margin-bottom: 0px;
    margin-top: 6px;
}

.yc-well{
    padding: 10px;
}

.user-post-image{
    max-width: 108px;
    max-height: 108px;
}

.inline-block{
    display: inline-block;
}

.user-info{
    vertical-align: middle;
}

#dashboard{
    position:fixed;
    top: 47px;
    height: 100%;
}

#userImage {
  max-width: 160px;
  max-height: 160px;
  min-width: 130px;
  min-height: 130px;
  width: 100%;
  height: 100%;
}

#name{
    margin-top: 10px;
    margin-bottom: 5px;
}

#userInfo{
    margin-bottom: 10px;
}

.section{
    padding-left: 30px;
    padding-right: 30px;
}

.panel-button{
    margin-top: 10px;
    text-align: right;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

#postButton{
    margin-top: -5px;
}

.post-message{
    max-width: 100%;
}

.max-width-100{
    max-width:100%;
}

#albumPhotoDiv{
    max-width: 90%;
}

.panel-write-post{
    margin-top: -15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3;
    border-right-width: 0px;
    border-left-width: 0px;
}

.align-center{
    text-align: center;
}

#postBoard{
    margin-top: 10px;
}

#postBoard div {
    height: 37px;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    line-height: 40px;
}

#dashboardToggle{
    float: left;
    margin-left: 15px;
}


.options-icon{
    float: right;
    cursor: pointer;
}

.dropdown-yc{
    float: right;
    right: 0px;
    left: auto;
    top: 16px;
}

a.hashtag:link{
    color:white;
}

.div-local{
    float: left;
    position: relative;
    top: 8px;
    left: 9px;
}

.post-footer{
    text-align: right;
    min-height: 26px;
}

.align-top{
    vertical-align: top;
}


.align-middle{
    vertical-align: middle;
}

.chevron{
    width: 100%;
    text-align: center;
    height: 160px;
    float: left;
    position: relative;
    top: -25px;
    left: -6px;
}

.chevron span{
    position: relative;
    top: 70px;
}

.subdiv-albums{
    width: 692px;
}

.div-albums{
    text-align: center;
    overflow-x: auto;
    display: inline-block;
    max-width: 80%;
}

.album-options{  
    position: relative;
    left: 63px;
    top: 24px;
    cursor: pointer;
}

.dropdown-albums{
    left: inherit;
    top: 125px;
}

#addAlbum{
    position: relative;
    top: -5px;
    left: -19px;
}

.div-photo{
    margin-top: 20px;
}

.div-photo .chevron{
    left: 0px;
}

.subdiv-photo .thumbnail{
    margin-bottom: 0px;
}

.img-buttons{
    float: right;
    width: 25px;
}

a#addPhoto {
    position: relative;
    left: 3px;
}

.user-img{
    max-width: 130px;
    max-height: 130px;
    min-height: 100px;
    min-width: 100px;
    width: auto;
    height: auto;
}

.user-img-sm{
    width: 56px;
    height: 58px;    
}

.user-note{
    font-size: 11px;
}

.img-button{
    margin-top: 10px;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.dropdown-note{
    width: 259px;
}

#clearImage{
    display: none;
}

.simple-hide{
    display: none;
}

.bottom-buttons{
    margin-bottom: 21px;
}

.bottom-buttons a {
    margin: 0px 3px;
}

.post-local{
    top: 19px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.notification-checkbox{
    width: 14px;
    top: 2px;
    left: -12px;
    height: 14px;
    position: relative;
}

.notification-body{
    position: relative;
    left: -11px;
    width: 100%;
}

.notification-text{
    width: 161px;
    white-space: normal;
    vertical-align: middle;
}

#navbar-youcurte-collapse{
    overflow-x: hidden;
}


.post-footer-local{
    min-height: 45px;
}

@media screen and (max-width: 768px){
    a.link-blue-and-white:hover{
        color: white; 
    }
    a.link-blue-and-white{
        color: white;
    }
    a:visited {
        color: powderblue;
    }
    #dashboard{
        display:none;
        top: 55px;
    }
    .chevron{
        left: 0px;
    }
}

.input-group {
    float: left!important;
}

.form-horizontal .has-feedback .form-control-feedback {
    display: none!important;
}


.margin-top-10{
    margin-top: 10px;
}

.margin-top-0{
    margin-top: 0;
}

.well-blue{
    background-color: rgba(217, 237, 247, 0.22);
    border-color: #bce8f1;
}

.well-white{
    background-color: #FCFCFC;
}

a.click.hashtag:hover {
    border-bottom: 4px solid blue;
}

user-div-img{
    width:122px;
    height:122px;
}

.post-img{
    max-height: 200px;
    max-width: 200px;
}

.load-img{
    min-height:100px;
    min-width: 100px;
    background:url(../img/load.gif) no-repeat center center;
}

#notifications{
    max-height: 294px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 272px;
}

.notification-content{
  position: relative;
  left: -11px;
}

@media screen and (max-width:510px){
    .profile-header{
        text-align: center;
    }
    .profile-image,.profile-kind{
        float: none;
    }
}

@media screen and (max-width: 992px){
    #dashboard{
        display:none;
        top: 55px;
    }
    #dashboardToggle{
        display:block;
    }
    .chevron{
        left: 0px;
    }
}

@media (min-width: 992px){
    #dashboard{
        display:block;
        width: 20%!important;
    }
    #section{
        width: 80%;
        margin-left: 20%;
        display:block!important;
    }
}
